.form-wrapper {
  margin: 24px;
}

.form-wrapper h3 {
  margin: 24px 0;
  font-weight: 400;
  text-align: justify;
  line-height: 37px;
}

.form-wrapper button {
  display: block;
  height: 60px;
  background-color: #dcbda1;
  width: 370px;
  border-radius: 50px;
  border: none;
  margin: 16px 0 24px 0;
}

@media (min-width: 750px) {
  .form-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 10% 0 10%;
  }
  .form-wrapper h3 {
    grid-row: 1 / span 2;
    justify-self: end;
    padding-right: 10%;
    margin: 0;
  }
  .form-wrapper button {
    justify-self: start;
  }
}

@media (min-width: 1350px) {
  .form-wrapper {
    margin: 24px 20% 0 20%;
  }
}
