.loading-wrapper {
  flex-grow: 10;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-wrapper img {
  width: 50%;
  height: auto;
  padding-bottom: 24px;
  max-width: 300px;
}

@media (min-width: 750px) {
  .loading-wrapper {
    margin: 0 10% 0 10%;
  }
}

@media (min-width: 1350px) {
  .loading-wrapper {
    margin: 24px 20% 0 20%;
  }
}
