.item-wrapper {
  margin: 24px;
}

.toggle-button {
  height: 60px;
  background-color: #dcbda1;
  width: 100%;
  border-radius: 50px;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item-details-wrapper {
  margin: 24px 0 0 0;
  transition: 0.5s;
  overflow: hidden;
}

.item-details-wrapper h2 {
  text-decoration: underline;
  padding: 24px 0;
}
.item-details-wrapper h3 {
  padding: 16px 0;
}

.item-details-wrapper ul,
.item-details-wrapper span {
  font-family: "Ubuntu";
  color: #515e66;
  margin: 0;
  padding: 0;
  font-size: 18px;
  list-style-type: none;
}

.item-details-wrapper li,
.item-details-wrapper span {
  padding-top: 8px;
  padding-bottom: 8px;
}

.item-details-wrapper span {
  text-align: center;
}
.item-details-wrapper img {
  width: 40%;
  display: block;
  margin: 24px auto 0 auto;
}

.item-details-wrapper hr {
  margin: 0 auto;
  padding: 0;
  width: 70%;
}

.location-status {
  font-weight: 400;
  text-decoration: underline;
}
.capitalize {
  text-transform: capitalize;
}

@media (min-width: 750px) {
  .item-wrapper {
    margin: 24px 10% 24px 10%;
  }

  .item-details-wrapper img {
    width: 20%;
    max-width: 250px;
  }
  .item-details-wrapper ul {
    font-size: 21px;
  }
  .location-status {
    text-align: center;
  }
  .item-details-wrapper hr {
    width: 50%;
  }
  .location-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .map-wrapper {
    margin: 0;
    grid-column-start: 2;
    grid-row: 1 / span 3;
    justify-self: end;
  }
  .text-row {
    grid-column-start: 1;
    grid-row: 1 / span 2;
  }
  .second {
    margin-top: 35px;
  }
  .third {
    margin-top: 95px;
  }
}

@media (min-width: 850px) {
  .second {
    margin-top: 33px;
  }
  .third {
    margin-top: 90px;
  }
}

@media (min-width: 1000px) {
  .third {
    margin-top: 65px;
  }
}

@media (min-width: 1350px) {
  .item-wrapper {
    margin: 24px 20% 24px 20%;
  }
  .third {
    margin-top: 65px;
  }
}
