.orders-route-error-wrapper {
  flex-grow: 10;
  padding: 24px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.orders-route-error-wrapper img {
  width: 50%;
  height: auto;
  padding-bottom: 24px;
  max-width: 300px;
}

.orders-route-error-wrapper h3 {
  padding-bottom: 24px;
}

@media (min-width: 750px) {
  .orders-route-error-wrapper {
    margin: 0 10% 0 10%;
  }
}

@media (min-width: 1350px) {
  .orders-route-error-wrapper {
    margin: 24px 20% 0 20%;
  }
}
