.about-wrapper {
  margin: 24px 24px 0 24px;
  flex-grow: 10;
}

.about-wrapper h2 {
  padding-bottom: 24px;
}

.about-wrapper img {
  display: block;
  margin: 20px auto 0 auto;
  width: 60%;
}

.about-wrapper p {
  padding-top: 24px;
  text-align: justify;
}

@media (min-width: 750px) {
  .about-wrapper {
    margin: 24px 10% 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .about-wrapper img {
    grid-column-start: 2;
    grid-row: 1 / span 3;
    align-self: center;
  }

  .about-wrapper p {
    align-self: start;
  }
  .about-wrapper h2 {
    align-self: center;
    padding-bottom: 0;
  }
}

@media (min-width: 1350px) {
  .about-wrapper {
    margin: 24px 20% 0 20%;
  }
}
