.hero-wrapper {
  background-image: url("../../assets/images/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hero-wrapper h1 {
  padding: 0 24px;
}

.home-wrapper img {
  display: block;
  margin: 0 auto;
  width: 70%;
  height: auto;
}
