.hero-wrapper {
  background-image: url("../../assets/images/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hero-wrapper h1 {
  padding: 0 24px;
}

.home-wrapper img {
  display: block;
  margin: 0 auto;
  width: 70%;
  height: auto;
}

@media (min-width: 750px) {
  .hero-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
  }
  .slogan {
    grid-column-start: 1;
  }
  .home-wrapper img {
    width: 45%;
    height: auto;
    max-width: 500px;
  }
}
